.profile__add-btn {
    width: 146px;
    height: 46px;
    background-color: transparent;
    border: 2px #FFF solid;
    margin-left: auto;
    background-image: url(../../../images/profile__add-btn.svg);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 950px) {
    .profile__add-btn {
        width: 100%;
    }
}