.profile {
    max-width: 70%;
    margin: auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 120px repeat(2, auto);
    column-gap: 30px;
    align-items: center;
    padding-bottom: 50px;
}

@media screen and (max-width: 950px) {
    .profile {
        display: flex;
        flex-direction: column;
        max-width: 88%;
    }
}