.card__info {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15px 31px 21px;
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}