.card__info {
    width: 100%;
    box-sizing: border-box;
    padding: 22px 15px 22px 21px;
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}