.header__logo {
    max-width: 142px;
    padding-top: 45px;
}

@media screen and (max-width: 950px) {
    .header__logo {
        padding-left: 27px;
        padding-top: 28px;
        max-width: 104px;
    }
}