.form__submit-btn_inactive {
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    opacity: .2;
    cursor: not-allowed;
}

.form__submit-btn_inactive:hover {
    background-color: transparent;
}