.card__like-btn {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/card__like-btn.svg);
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.card__like-btn:hover {
    opacity: .5;
}