.profile__intro {
    display: grid;
    grid-template-columns: 1fr 24px;
    column-gap: 10px;
    row-gap: 5px;
}

@media screen and (max-width: 950px) {
    .profile__intro {
        max-width: 300px;
        grid-template-columns: auto 24px;
        padding-bottom: 36px;
        padding-left: 28px;
    }
}