.profile__edit-btn {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 1px #FFF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: url(../../../images/profile__edit-btn.svg);
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__edit-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 950px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}