.profile__edit-btn {
    background-size: cover;
    background-color: #000;
    width: 24px;
    height: 24px;
    border: 1px #FFF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.profile__edit-btn:hover {
    opacity: .6;
    border: 1px rgba(255, 255, 255, .6) solid;
}

@media screen and (max-width: 950px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
    }

    .profile__edit-btn>img {
        width: 7.5px;
        height: 7.5px
    }
}