.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 30px;
    border-collapse: separate;
}

@media screen and (max-width: 950px) {
    .profile__avatar {
        margin-bottom: 26px;
        padding-right: 0;
    }
}