.card__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/card__like.svg);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}

.card__like:active {
    background-image: url(../../../images/card__like_active.svg);
    opacity: 1;
}