.form {
    padding: 34px 36px 0 36px;
    border: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media screen and (max-width: 550px) {
    .form {
        padding: 25px 22px 0 22px;
    }
}